# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv
venv/
ENV/

# Git
.git
.gitignore
.gitattributes

# Jupyter Notebooks
notebooks/
.ipynb_checkpoints

# Data
data/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
